.collection-page {
  display: grid;
  grid-auto-flow: row;

  .title-container {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .title-back {
    margin-top: 10px;
    cursor: pointer;
  }

  .title-heading {
    font-size: 38px;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
